<!DOCTYPE HTML>
<html>
	<head>
		{{ partial "head.html" . }}
	</head>
<body>
    <header id="header" class="home" style="background-image: url('{{ .Site.BaseURL }}/images/left-bg.png')">
        <div class="inner">
                <h1><strong>SDGs 심리테스트. 당신은 어떤 삶을 살고 싶나요? </strong></h1>
            <p>UN이 지정한 지속가능발전목표(Sustainable Development Goals, SDGs)에서는 17가지의 폭넓은 주제를 다루고 있습니다. 
                <br>이 중에서 당신이 특별히 간직하고 지켜나갈 Goal은 무엇일까요?</p>
            <footer id="footer home">
                <ul class="icons">
                    <li><a href="https://twitter.com/sdsnyouth" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://facebook.com/sdsnyouth" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://github.com/UNSDSN-Youth/" class="icon fa-github"><span class="label">Facebook</span></a></li>
                    <li><a href="mailto:youth@unsdsn.org" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                    <li><a href="https://sdsnyouth.org" class="icon fa-link"><span class="label">Website</span></a></li>
                </ul>
                <ul class="copyright">
                    &copy;  SDG QUIZ  |  Powered by <a href="http://sdsnyouth.org">sdsnyouth.org</a>.
                </ul>
            </footer>
            </div>
        </header>
<div id="main">
    <img src="{{ .Site.BaseURL }}/images/sdsny-logo.png" class="logo-header"/>
	<section id="one">
	        <article class="col-6 col-12-xsmall work-item">
                <div id="stage0" name="stage0">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            Which life do you want? Select one!
                        </h4>
                    </div>
                    <br>
                    <div id="stage0_selection" name="selection">
                        <button class="choice" type="button" id="stage0_one">건강한 삶</button>
                        <button class="choice" type="button" id="stage0_two">친환경적인 삶</button>
                        <button class="choice" type="button" id="stage0_three">풍요로운 삶</button>
                        <button class="choice" type="button" id="stage0_four">평화로운 삶</button>
                        <button class="choice" type="button" id="stage0_five">함께하는 삶</button>
                    </div>
                </div>
                <div id="stage1_en" name="stage1_en">
                    <div id="stage_question_en" name="question" class="b">
                        <h6>QUESTION</h6>
                        <h4>
                            나는 변화보다 안정을 추구해
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage1_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage1_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage2_en" name="stage2_en">
                    <div id="stage_head_en" name="head" class="b">
                        <h6>QUESTION</h6>
                        <h4>
                                나는 신체적인 건강보다 
                                정신적인 건강이 더 중요하다고 생각해
                                
                        </h4>
                     </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage2_yes_en" >
                            Yes, mental health is more important.
                        </button>
                        <button class="choice long" type="button" id="stage2_no_en">
                            No, physical health is more important.
                        </button>
                    </div>
                </div>
                <div id="stage3_en" name="stage3_en">
                    <div id="stage_question_en" name="question" class="b">
                        <h6>QUESTION</h6>
                        <h4>
                                나는 생활습관 
                                중에서 
                                식단관리가 가장 
                                중요하다고 생각해
                                                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage3_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage3_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage4_en" name="stage4_en">
                    <div id="stage_question_en" name="question" class="b">
                        <h6>QUESTION</h6>
                        <h4>
                                나는 아이들이 
                                다양한 걸 
                                배우는 것이 
                                다양한 걸 
                                경험하는 것보다 중요하다고 생각해 
                                                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage4_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage4_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage5_en" name="stage5_en">
                    <div id="stage_head_en" name="head" class="b">
                        <h6>QUESTION</h6>
                        <h4>
                                나에게 100달러가 생기면, 맛있는 거 먹기 VS 좋은 옷 
                                사기  
                                                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage5_yes_en">
                            옷
                        </button>
                        <button class="choice long" type="button" id="stage5_no_en">
                            음식
                        </button>
                    </div>
                </div>

                <div id="stage6_en" name="stage6_en">                  
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                국가 발전을 위해 교육보다 
                                경제성장이 더 
                                시급하다고 생각해
                                                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage6_yes_en">
                            I think economic growth is more urgent.
                        </button>
                        <button class="choice long" type="button" id="stage6_no_en">
                            I think education is more important.
                        </button>
                    </div>
                </div>

                <div id="stage7_en" name="stage7_en">   
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나의 역량을 
                                강화하기 위해
                                헬스장 VS 독서실
                                                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage7_yes_en">
                            I go to the gym!
                        </button>
                        <button class="choice long" type="button" id="stage7_no_en">
                            I go to the library.
                        </button>
                    </div>
                </div>

                <div id="stage8_en" name="stage8_en">    
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 육류섭취가 
                                환경에 미치는 
                                영향에 대해 
                                생각해 본 적이 있어
                                                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage8_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage8_no_en">
                            No
                        </button>
                    </div>
                </div>

                <div id="stage9_en" name="stage9_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 수목원보다 박물관이 좋아
                            </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage9_yes_en">
                            Museums
                        </button>
                        <button class="choice long" type="button" id="stage9_no_en">
                            Botanical gardens
                        </button>
                    </div>
                </div>
                <div id="stage10_en" name="stage10_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 미래세대를 위해서, 좋은 
                                환경보다 좋은 경제를 물려주고 싶어
                                                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage10_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage10_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage11_en" name="stage11_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 먹는 게 더 좋아 VS 마시는 게 더 좋아
                            </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage11_yes_en">
                            I like to eat.
                        </button>
                        <button class="choice long" type="button" id="stage11_no_en">
                            I love to drink.
                        </button>
                    </div>
                </div>
                <div id="stage12_en" name="stage12_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 공부를 많이 하고 싶어 VS 돈을 많이 벌고 싶어 
                            </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage12_yes_en">
                            공부
                        </button>
                        <button class="choice" type="button" id="stage12_no_en">
                            돈
                        </button>
                    </div>
                </div>
                <div id="stage13_en" name="stage13_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 미래의 
                                안정보다 당장의 필요 충족이 더 중요해 
                                                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage13_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage13_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage14_en" name="stage14_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                의식주 중에 
                                뭐가 가장 중요해?
                                                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage14_food">
                            식
                        </button>
                        <button class="choice" type="button" id="stage14_shelter">
                            주
                        </button>
                        <button class="choice" type="button" id="stage14_clothes">
                            의
                        </button>
                    </div>
                </div>
                <div id="stage15_en" name="stage15_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 다양한 
                                분야에 도전하고 싶어 VS 잘하는 것을 더 잘하고 싶어
                                                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage15_yes_en">
                            I want to get better at what I'm good at.
                        </button>
                        <button class="choice long" type="button" id="stage15_no_en">
                            Challenge various fields.
                        </button>
                    </div>
                </div>
                <div id="stage16_en" name="stage16_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 성평등보다 전반적인 
                                “평등”에 관심이 많아
                                                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage16_yes_en">
                            I'm interested in working out the specific problem areas first.
                        </button>
                        <button class="choice long" type="button" id="stage16_no_en">
                            I'm tackliing all inequalities at once.
                        </button>
                    </div>
                </div>
                <div id="stage17_en" name="stage17_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                내가 원하는 집 
                                구하기 VS 내가 
                                원하는 직장 갖기
                                                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage17_yes_en">
                            Dream house.
                        </button>
                        <button class="choice" type="button" id="stage17_no_en">
                            Dream job.
                        </button>
                    </div>
                </div>
                
                <div id="stage18_en" name="stage18_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 에너지 
                                절약보다 물건 재활용에 더 
                                관심이 많아
                                                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage18_yes_en">
                            I want to recycle things.
                        </button>
                        <button class="choice" type="button" id="stage18_no_en">
                            I want to save energy.
                        </button>
                    </div>
                </div>
                <div id="stage19_en" name="stage19_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 물질적인 
                                안정보다 
                                정신적인 안정이 더 중요해
                                                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage19_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage19_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage20_en" name="stage20_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 소득을 증대하는 것보다 저축을 
                                증대하는 게 
                                중요하다고 생각해 
                                                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage20_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage20_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage21_en" name="stage21_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 한적한 곳보다 사람이 많은 곳에서 살고싶어
                            </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage21_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage21_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage22_en" name="stage22_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 생태탐방보다 문화탐방이 좋아
                            </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage22_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage22_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage23_en" name="stage23_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 바다가 좋아 VS 산이 좋아
                            </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage23_yes_en">
                            Swimming
                        </button>
                        <button class="choice" type="button" id="stage23_no_en">
                            Hiking
                        </button>
                    </div>
                </div>
                <div id="stage24_en" name="stage24_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 생태계보다 기후변화에 더 관심이 많아
                            </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage24_yes_en">
                            Climate action
                        </button>
                        <button class="choice long" type="button" id="stage24_no_en">
                            Ecosystem
                        </button>
                    </div>
                </div>
                <div id="stage25_en" name="stage25_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 대인관계에 시간을 많이 써
                            </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage25_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage25_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage26_en" name="stage26_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                                나는 깊게 적은 친구를 
                                사귀기보다 
                                얕게 많은 친구를 사귀는 게 
                                더 좋아  
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage26_yes_en">
                            Lots of friends
                        </button>
                        <button class="choice long" type="button" id="stage26_no_en">
                            A few close friends
                        </button>
                    </div>
                </div>
                <div id="stage27_en" name="stage27_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            인간관계에서 협동이 규칙보다 중요하다고 생각해
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage27_yes_en">
                            Human relationships
                        </button>
                        <button class="choice long" type="button" id="stage27_no_en">
                            Rules
                        </button>
                    </div>
                </div>

                <!-- Scripts -->
                {{ partial "scripts.html" . }}
                
            </body>
            


        <script>
            $(document).ready(function() { //executed after the page has loaded
                
                // Hides all question options at the beginning

                $("#stage1_en").hide();
                $("#stage2_en").hide();
                $("#stage3_en").hide();
                $("#stage4_en").hide();
                $("#stage5_en").hide();
                $("#stage6_en").hide();
                $("#stage7_en").hide();
                $("#stage8_en").hide();
                $("#stage9_en").hide();
                $("#stage10_en").hide();
                $("#stage11_en").hide();
                $("#stage12_en").hide();
                $("#stage13_en").hide();
                $("#stage14_en").hide();
                $("#stage15_en").hide();
                $("#stage16_en").hide();
                $("#stage17_en").hide();
                $("#stage18_en").hide();
                $("#stage19_en").hide();
                $("#stage20_en").hide();
                $("#stage21_en").hide();
                $("#stage22_en").hide();
                $("#stage23_en").hide();
                $("#stage24_en").hide();
                $("#stage25_en").hide();
                $("#stage26_en").hide();
                $("#stage27_en").hide();
                

                // For any answer selection, we hide the answer and fade in the next question

                $("#stage0_one").click(function() {
                    $("#stage0").hide();
                    $("#stage1_en").fadeIn(200);
                });
                $("#stage0_two").click(function() {
                    $("#stage0").hide();
                    $("#stage8_en").fadeIn(200);
                });
                $("#stage0_three").click(function() {
                    $("#stage0").hide();
                    $("#stage12_en").fadeIn(200);
                });
                $("#stage0_four").click(function() {
                    $("#stage0").hide();
                    $("#stage19_en").fadeIn(200);
                });
                $("#stage0_five").click(function() {
                    $("#stage0").hide();
                    $("#stage25_en").fadeIn(200);
                });

                // stage1 
                $("#stage1_yes_en").click(function() {
                    $("#stage1_en").hide();
                    $("#stage2_en").fadeIn(200);
                });

                $("#stage1_no_en").click(function() {
                    $("#stage1_en").hide();
                    $("#stage3_en").fadeIn(200);
                });

                // stage2
                $("#stage2_yes_en").click(function() {
                    $("#stage2_en").hide();
                    $("#stage4_en").fadeIn(200);
                });

                $("#stage2_no_en").click(function() {
                    $("#stage2_en").hide();
                    $("#stage9_en").fadeIn(200);
                });

                // stage3
                $("#stage3_yes_en").click(function() {
                    $("#stage3_en").hide();
                    $("#stage5_en").fadeIn(200);
                });

                $("#stage3_no_en").click(function() {
                    $("#stage3_en").hide();
                    $("#stage4_en").fadeIn(200);
                });

                // stage4
                $("#stage4_yes_en").click(function() {
                    $("#stage4_en").hide();
                    $("#stage6_en").fadeIn(200);
                });

                $("#stage4_no_en").click(function() {
                    $("#stage4_en").hide();
                    $("#stage7_en").fadeIn(200);
                });

                // stage5
                $("#stage5_yes_en").click(function() {
                    $("#stage5_en").hide();
                    $("#stage14_en").fadeIn(200);
                });

                $("#stage5_no_en").click(function() {
                    $("#stage5_en").hide();
                    $("#stage11_en").fadeIn(200);
                });

                // stage6
                $("#stage6_yes_en").click(function() {
                    $("#stage6_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/1");
                });

                $("#stage6_no_en").click(function() {
                    $("#stage6_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/4");
                });

                // stage7
                $("#stage7_yes_en").click(function() {
                    $("#stage7_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/3");
                });

                $("#stage7_no_en").click(function() {
                    $("#stage7_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/4");
                });


                // stage8
                $("#stage8_yes_en").click(function() {
                    $("#stage8_en").hide();
                    $("#stage9_en").fadeIn(200);
                });

                $("#stage8_no_en").click(function() {
                    $("#stage8_en").hide();
                    $("#stage2_en").fadeIn(200);
                });

                // stage9
                $("#stage9_yes_en").click(function() {
                    $("#stage9_en").hide();
                    $("#stage10_en").fadeIn(200);
                });

                $("#stage9_no_en").click(function() {
                    $("#stage9_en").hide();
                    $("#stage18_en").fadeIn(200);
                });
                
                // stage10
                $("#stage10_yes_en").click(function() {
                    $("#stage10_en").hide();
                    $("#stage15_en").fadeIn(200);
                });

                $("#stage10_no_en").click(function() {
                    $("#stage10_en").hide();
                    $("#stage23_en").fadeIn(200);
                });
                
                // stage11
                $("#stage11_yes_en").click(function() {
                    $("#stage11_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/2");
                });

                $("#stage11_no_en").click(function() {
                    $("#stage11_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/6");    
                });

                // stage12
                $("#stage12_yes_en").click(function() {
                    $("#stage12_en").hide();
                    $("#stage2_en").fadeIn(200);
                });

                $("#stage12_no_en").click(function() {
                    $("#stage12_en").hide();
                    $("#stage13_en").fadeIn(200);
                });

                // stage13
                $("#stage13_yes_en").click(function() {
                    $("#stage13_en").hide();
                    $("#stage14_en").fadeIn(200);
                });

                $("#stage13_no_en").click(function() {
                    $("#stage13_en").hide();
                    $("#stage10_en").fadeIn(200);
                });

                // stage14
                $("#stage14_food").click(function() {
                    $("#stage14_en").hide();
                    $("#stage11_en").fadeIn(200);
                });

                $("#stage14_shelter").click(function() {
                    $("#stage14_en").hide();
                    $("#stage21_en").fadeIn(200);
                });
                $("#stage14_clothes").click(function() {
                    $("#stage14_en").hide();
                    $("#stage20_en").fadeIn(200);
                });

                // stage15
                $("#stage15_yes_en").click(function() {
                    $("#stage15_en").hide();
                    $("#stage17_en").fadeIn(200);
                });

                $("#stage15_no_en").click(function() {
                    $("#stage15_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/8");
                });

                // stage16
                $("#stage16_yes_en").click(function() {
                    $("#stage16_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/5");
                });

                $("#stage16_no_en").click(function() {
                    $("#stage16_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/10");
                });

                // stage17
                $("#stage17_yes_en").click(function() {
                    $("#stage17_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/11");
                });

                $("#stage17_no_en").click(function() {
                    $("#stage17_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/9");
                });

                // stage18
                $("#stage18_yes_en").click(function() {
                    $("#stage18_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/12");
                });

                $("#stage18_no_en").click(function() {
                    $("#stage18_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/7");
                });

                // stage19
                $("#stage19_yes_en").click(function() {
                    $("#stage19_en").hide();
                    $("#stage20_en").fadeIn(200);
                });

                $("#stage19_no_en").click(function() {
                    $("#stage19_en").hide();
                    $("#stage14_en").fadeIn(200);
                });

                // stage20
                $("#stage20_yes_en").click(function() {
                    $("#stage20_en").hide();
                    $("#stage18_en").fadeIn(200);
                });

                $("#stage20_no_en").click(function() {
                    $("#stage20_en").hide();
                    $("#stage15_en").fadeIn(200);
                });

                // stage21
                $("#stage21_yes_en").click(function() {
                    $("#stage21_en").hide();
                    $("#stage27_en").fadeIn(200);
                });

                $("#stage21_no_en").click(function() {
                    $("#stage21_en").hide();
                    $("#stage22_en").fadeIn(200);
                });

                // stage22
                $("#stage22_yes_en").click(function() {
                    $("#stage22_en").hide();
                    $("#stage16_en").fadeIn(200);
                });

                $("#stage22_no_en").click(function() {
                    $("#stage22_en").hide();
                    $("#stage24_en").fadeIn(200);
                });

                // stage23
                $("#stage23_yes_en").click(function() {
                    $("#stage23_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/14");
                });

                $("#stage23_no_en").click(function() {
                    $("#stage23_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/15");
                });

                // stage24
                $("#stage24_yes_en").click(function() {
                    $("#stage24_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/13");
                });

                $("#stage24_no_en").click(function() {
                    $("#stage24_en").hide();
                    $("#stage23_en").fadeIn(200);
                });

                // stage25
                $("#stage25_yes_en").click(function() {
                    $("#stage25_en").hide();
                    $("#stage26_en").fadeIn(200);
                });

                $("#stage25_no_en").click(function() {
                    $("#stage25_en").hide();
                    $("#stage13_en").fadeIn(200);
                });

                // stage26
                $("#stage26_yes_en").click(function() {
                    $("#stage26_en").hide();
                    $("#stage27_en").fadeIn(200);
                });

                $("#stage26_no_en").click(function() {
                    $("#stage26_en").hide();
                    $("#stage21_en").fadeIn(200);
                });

                // stage27
                $("#stage27_yes_en").click(function() {
                    $("#stage27_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/17");       
                });

                $("#stage27_no_en").click(function() {
                    $("#stage27_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/16");
                });

            });
        </script>

</html>