<!DOCTYPE HTML>
<html>
	<head>
		{{ partial "head.html" . }}
	</head>
<body>
    <header id="header" class="home" style="background-image: url('{{ .Site.BaseURL }}/images/left-bg.svg')">
        <div class="inner">
                <h1><strong>Which Sustainable Development Goal are you? </strong></h1>
            <p>The Sustainable Development Goals (SDGs) are a set of 17 objectives - the blueprint to achieve a better and more sustainable future for all. 
                <br>Find out which one you are! </p>
            <footer id="footer home">
                <ul class="icons">
                    <li><a href="https://twitter.com/sdsnyouth" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://facebook.com/sdsnyouth" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://github.com/UNSDSN-Youth/" class="icon fa-github"><span class="label">Facebook</span></a></li>
                    <li><a href="mailto:youth@unsdsn.org" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                    <li><a href="https://sdsnyouth.org" class="icon fa-link"><span class="label">Website</span></a></li>
                </ul>
                <ul class="copyright">
                    &copy;  SDG QUIZ  |  Powered by <a href="http://sdsnyouth.org">sdsnyouth.org</a>.
                </ul>
                <div class="button-back">
                    <a href="/kr">KR</a>
                </div>
            </footer>
            </div>
        </header>
<div id="main">
    <img src="{{ .Site.BaseURL }}/images/sdsny-logo.png" class="logo-header"/>
	<section id="one">
	        <article class="col-6 col-12-xsmall work-item">
                <div id="stage0" name="stage0">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            Which life do you want? Select one!
                        </h4>
                    </div>
                    <br>
                    <div id="stage0_selection" name="selection">
                        <button class="choice" type="button" id="stage0_one">Healthy Life</button>
                        <button class="choice" type="button" id="stage0_two">Eco-friendly Life</button>
                        <button class="choice" type="button" id="stage0_three">Wealthy Life</button>
                        <button class="choice" type="button" id="stage0_four">Peaceful Life</button>
                        <button class="choice" type="button" id="stage0_five">Life with others</button>
                    </div>
                </div>
                <div id="stage1_en" name="stage1_en">
                    <div id="stage_question_en" name="question" class="b">
                        <h6>QUESTION</h6>
                        <h4>
                            I seek stability rather than change.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage1_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage1_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage2_en" name="stage2_en">
                    <div id="stage_head_en" name="head" class="b">
                        <h6>QUESTION</h6>
                        <h4>
                            I think mental health is more important than physical health.
                        </h4>
                     </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage2_yes_en" >
                            Yes, mental health is more important.
                        </button>
                        <button class="choice long" type="button" id="stage2_no_en">
                            No, physical health is more important.
                        </button>
                    </div>
                </div>
                <div id="stage3_en" name="stage3_en">
                    <div id="stage_question_en" name="question" class="b">
                        <h6>QUESTION</h6>
                        <h4>
                            I think managing a diet is the most important in lifestyle habits.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage3_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage3_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage4_en" name="stage4_en">
                    <div id="stage_question_en" name="question" class="b">
                        <h6>QUESTION</h6>
                        <h4>
                            I think it is more important for children to learn by watching/reading, rather than doing.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage4_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage4_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage5_en" name="stage5_en">
                    <div id="stage_head_en" name="head" class="b">
                        <h6>QUESTION</h6>
                        <h4>
                            If I had 100 dollars, I would eat delicious food or buy good clothes?
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage5_yes_en">
                            Buy good clothes
                        </button>
                        <button class="choice long" type="button" id="stage5_no_en">
                            Buy delicious food
                        </button>
                    </div>
                </div>

                <div id="stage6_en" name="stage6_en">                  
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            For national development, I think economic growth is more urgent than education.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage6_yes_en">
                            I think economic growth is more urgent.
                        </button>
                        <button class="choice long" type="button" id="stage6_no_en">
                            I think education is more important.
                        </button>
                    </div>
                </div>

                <div id="stage7_en" name="stage7_en">   
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            To strengthen my capacity, I would go to the gym or the library?
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage7_yes_en">
                            I go to the gym!
                        </button>
                        <button class="choice long" type="button" id="stage7_no_en">
                            I go to the library.
                        </button>
                    </div>
                </div>

                <div id="stage8_en" name="stage8_en">    
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            I have thought about how meat consumption affects the environment.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage8_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage8_no_en">
                            No
                        </button>
                    </div>
                </div>

                <div id="stage9_en" name="stage9_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            Would you prefer to learn in museums or go outside to a botanical garden?
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage9_yes_en">
                            Museums
                        </button>
                        <button class="choice long" type="button" id="stage9_no_en">
                            Botanical gardens
                        </button>
                    </div>
                </div>
                <div id="stage10_en" name="stage10_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            I want to inherit a better economy for future generations than a good environment.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage10_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage10_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage11_en" name="stage11_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            Which do you prefer? Drinks or food?
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage11_yes_en">
                            I like to eat.
                        </button>
                        <button class="choice long" type="button" id="stage11_no_en">
                            I love to drink.
                        </button>
                    </div>
                </div>
                <div id="stage12_en" name="stage12_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            I want to study a lot / I want to make a lot of money.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage12_yes_en">
                            Study
                        </button>
                        <button class="choice" type="button" id="stage12_no_en">
                            Money
                        </button>
                    </div>
                </div>
                <div id="stage13_en" name="stage13_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            I think it is more important to meet the needs of the present than seek future stability.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage13_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage13_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage14_en" name="stage14_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            What is most important in food, clothes and shelter?
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage14_food">
                            Food
                        </button>
                        <button class="choice" type="button" id="stage14_shelter">
                            Shelter
                        </button>
                        <button class="choice" type="button" id="stage14_clothes">
                            Clothes
                        </button>
                    </div>
                </div>
                <div id="stage15_en" name="stage15_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            I want to challenge various fields / I want to be better at what I'm good at
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage15_yes_en">
                            I want to get better at what I'm good at.
                        </button>
                        <button class="choice long" type="button" id="stage15_no_en">
                            Challenge various fields.
                        </button>
                    </div>
                </div>
                <div id="stage16_en" name="stage16_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            Are you interested in general inequalities or would you prefer to focus on a specific problem areas first?
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage16_yes_en">
                            I'm interested in working out the specific problem areas first.
                        </button>
                        <button class="choice long" type="button" id="stage16_no_en">
                            I'm tackliing all inequalities at once.
                        </button>
                    </div>
                </div>
                <div id="stage17_en" name="stage17_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            If you could choose, would you prefer getting your dream house or your dream job?
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage17_yes_en">
                            Dream house.
                        </button>
                        <button class="choice" type="button" id="stage17_no_en">
                            Dream job.
                        </button>
                    </div>
                </div>
                
                <div id="stage18_en" name="stage18_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            I am more interested in recycling things than saving energy.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage18_yes_en">
                            I want to recycle things.
                        </button>
                        <button class="choice" type="button" id="stage18_no_en">
                            I want to save energy.
                        </button>
                    </div>
                </div>
                <div id="stage19_en" name="stage19_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            I believe that mental stability is more important than material stability.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage19_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage19_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage20_en" name="stage20_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            I think it is important to increase savings rather than increase income.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage20_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage20_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage21_en" name="stage21_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            I want to live in a place with lots of people rather than live in a quiet place.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage21_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage21_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage22_en" name="stage22_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            I like cultural tours rather than ecological tours.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage22_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage22_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage23_en" name="stage23_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            Do you prefer swimming or hiking?
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage23_yes_en">
                            Swimming
                        </button>
                        <button class="choice" type="button" id="stage23_no_en">
                            Hiking
                        </button>
                    </div>
                </div>
                <div id="stage24_en" name="stage24_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            I am more interested in climate change than the ecosystem.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage24_yes_en">
                            Climate action
                        </button>
                        <button class="choice long" type="button" id="stage24_no_en">
                            Ecosystem
                        </button>
                    </div>
                </div>
                <div id="stage25_en" name="stage25_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            I am good at interpersonal relationships.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice" type="button" id="stage25_yes_en">
                            Yes
                        </button>
                        <button class="choice" type="button" id="stage25_no_en">
                            No
                        </button>
                    </div>
                </div>
                <div id="stage26_en" name="stage26_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            I prefer to make a lot of friends, rather than a few close friends.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage26_yes_en">
                            Lots of friends
                        </button>
                        <button class="choice long" type="button" id="stage26_no_en">
                            A few close friends
                        </button>
                    </div>
                </div>
                <div id="stage27_en" name="stage27_en">
                    <div id="stage_head_en" name="head" class="b"> 
                        <h6>QUESTION</h6>
                        <h4>
                            I think cooperation in human relationships are more important than rules.
                        </h4>
                    </div>
                    <div id="stage_selection_en" name="selection">
                        <button class="choice long" type="button" id="stage27_yes_en">
                            Human relationships
                        </button>
                        <button class="choice long" type="button" id="stage27_no_en">
                            Rules
                        </button>
                    </div>
                </div>

                <!-- Scripts -->
                {{ partial "scripts.html" . }}
                
            </body>
            


        <script>
            $(document).ready(function() { //executed after the page has loaded
                
                // Hides all question options at the beginning

                $("#stage1_en").hide();
                $("#stage2_en").hide();
                $("#stage3_en").hide();
                $("#stage4_en").hide();
                $("#stage5_en").hide();
                $("#stage6_en").hide();
                $("#stage7_en").hide();
                $("#stage8_en").hide();
                $("#stage9_en").hide();
                $("#stage10_en").hide();
                $("#stage11_en").hide();
                $("#stage12_en").hide();
                $("#stage13_en").hide();
                $("#stage14_en").hide();
                $("#stage15_en").hide();
                $("#stage16_en").hide();
                $("#stage17_en").hide();
                $("#stage18_en").hide();
                $("#stage19_en").hide();
                $("#stage20_en").hide();
                $("#stage21_en").hide();
                $("#stage22_en").hide();
                $("#stage23_en").hide();
                $("#stage24_en").hide();
                $("#stage25_en").hide();
                $("#stage26_en").hide();
                $("#stage27_en").hide();
                

                // For any answer selection, we hide the answer and fade in the next question

                $("#stage0_one").click(function() {
                    $("#stage0").hide();
                    $("#stage1_en").fadeIn(200);
                });
                $("#stage0_two").click(function() {
                    $("#stage0").hide();
                    $("#stage8_en").fadeIn(200);
                });
                $("#stage0_three").click(function() {
                    $("#stage0").hide();
                    $("#stage12_en").fadeIn(200);
                });
                $("#stage0_four").click(function() {
                    $("#stage0").hide();
                    $("#stage19_en").fadeIn(200);
                });
                $("#stage0_five").click(function() {
                    $("#stage0").hide();
                    $("#stage25_en").fadeIn(200);
                });

                // stage1 
                $("#stage1_yes_en").click(function() {
                    $("#stage1_en").hide();
                    $("#stage2_en").fadeIn(200);
                });

                $("#stage1_no_en").click(function() {
                    $("#stage1_en").hide();
                    $("#stage3_en").fadeIn(200);
                });

                // stage2
                $("#stage2_yes_en").click(function() {
                    $("#stage2_en").hide();
                    $("#stage4_en").fadeIn(200);
                });

                $("#stage2_no_en").click(function() {
                    $("#stage2_en").hide();
                    $("#stage9_en").fadeIn(200);
                });

                // stage3
                $("#stage3_yes_en").click(function() {
                    $("#stage3_en").hide();
                    $("#stage5_en").fadeIn(200);
                });

                $("#stage3_no_en").click(function() {
                    $("#stage3_en").hide();
                    $("#stage4_en").fadeIn(200);
                });

                // stage4
                $("#stage4_yes_en").click(function() {
                    $("#stage4_en").hide();
                    $("#stage6_en").fadeIn(200);
                });

                $("#stage4_no_en").click(function() {
                    $("#stage4_en").hide();
                    $("#stage7_en").fadeIn(200);
                });

                // stage5
                $("#stage5_yes_en").click(function() {
                    $("#stage5_en").hide();
                    $("#stage14_en").fadeIn(200);
                });

                $("#stage5_no_en").click(function() {
                    $("#stage5_en").hide();
                    $("#stage11_en").fadeIn(200);
                });

                // stage6
                $("#stage6_yes_en").click(function() {
                    $("#stage6_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/1");
                });

                $("#stage6_no_en").click(function() {
                    $("#stage6_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/4");
                });

                // stage7
                $("#stage7_yes_en").click(function() {
                    $("#stage7_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/3");
                });

                $("#stage7_no_en").click(function() {
                    $("#stage7_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/4");
                });


                // stage8
                $("#stage8_yes_en").click(function() {
                    $("#stage8_en").hide();
                    $("#stage9_en").fadeIn(200);
                });

                $("#stage8_no_en").click(function() {
                    $("#stage8_en").hide();
                    $("#stage2_en").fadeIn(200);
                });

                // stage9
                $("#stage9_yes_en").click(function() {
                    $("#stage9_en").hide();
                    $("#stage10_en").fadeIn(200);
                });

                $("#stage9_no_en").click(function() {
                    $("#stage9_en").hide();
                    $("#stage18_en").fadeIn(200);
                });
                
                // stage10
                $("#stage10_yes_en").click(function() {
                    $("#stage10_en").hide();
                    $("#stage15_en").fadeIn(200);
                });

                $("#stage10_no_en").click(function() {
                    $("#stage10_en").hide();
                    $("#stage23_en").fadeIn(200);
                });
                
                // stage11
                $("#stage11_yes_en").click(function() {
                    $("#stage11_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/2");
                });

                $("#stage11_no_en").click(function() {
                    $("#stage11_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/6");    
                });

                // stage12
                $("#stage12_yes_en").click(function() {
                    $("#stage12_en").hide();
                    $("#stage2_en").fadeIn(200);
                });

                $("#stage12_no_en").click(function() {
                    $("#stage12_en").hide();
                    $("#stage13_en").fadeIn(200);
                });

                // stage13
                $("#stage13_yes_en").click(function() {
                    $("#stage13_en").hide();
                    $("#stage14_en").fadeIn(200);
                });

                $("#stage13_no_en").click(function() {
                    $("#stage13_en").hide();
                    $("#stage10_en").fadeIn(200);
                });

                // stage14
                $("#stage14_food").click(function() {
                    $("#stage14_en").hide();
                    $("#stage11_en").fadeIn(200);
                });

                $("#stage14_shelter").click(function() {
                    $("#stage14_en").hide();
                    $("#stage21_en").fadeIn(200);
                });
                $("#stage14_clothes").click(function() {
                    $("#stage14_en").hide();
                    $("#stage20_en").fadeIn(200);
                });

                // stage15
                $("#stage15_yes_en").click(function() {
                    $("#stage15_en").hide();
                    $("#stage17_en").fadeIn(200);
                });

                $("#stage15_no_en").click(function() {
                    $("#stage15_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/8");
                });

                // stage16
                $("#stage16_yes_en").click(function() {
                    $("#stage16_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/5");
                });

                $("#stage16_no_en").click(function() {
                    $("#stage16_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/10");
                });

                // stage17
                $("#stage17_yes_en").click(function() {
                    $("#stage17_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/11");
                });

                $("#stage17_no_en").click(function() {
                    $("#stage17_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/9");
                });

                // stage18
                $("#stage18_yes_en").click(function() {
                    $("#stage18_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/12");
                });

                $("#stage18_no_en").click(function() {
                    $("#stage18_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/7");
                });

                // stage19
                $("#stage19_yes_en").click(function() {
                    $("#stage19_en").hide();
                    $("#stage20_en").fadeIn(200);
                });

                $("#stage19_no_en").click(function() {
                    $("#stage19_en").hide();
                    $("#stage14_en").fadeIn(200);
                });

                // stage20
                $("#stage20_yes_en").click(function() {
                    $("#stage20_en").hide();
                    $("#stage18_en").fadeIn(200);
                });

                $("#stage20_no_en").click(function() {
                    $("#stage20_en").hide();
                    $("#stage15_en").fadeIn(200);
                });

                // stage21
                $("#stage21_yes_en").click(function() {
                    $("#stage21_en").hide();
                    $("#stage27_en").fadeIn(200);
                });

                $("#stage21_no_en").click(function() {
                    $("#stage21_en").hide();
                    $("#stage22_en").fadeIn(200);
                });

                // stage22
                $("#stage22_yes_en").click(function() {
                    $("#stage22_en").hide();
                    $("#stage16_en").fadeIn(200);
                });

                $("#stage22_no_en").click(function() {
                    $("#stage22_en").hide();
                    $("#stage24_en").fadeIn(200);
                });

                // stage23
                $("#stage23_yes_en").click(function() {
                    $("#stage23_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/14");
                });

                $("#stage23_no_en").click(function() {
                    $("#stage23_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/15");
                });

                // stage24
                $("#stage24_yes_en").click(function() {
                    $("#stage24_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/13");
                });

                $("#stage24_no_en").click(function() {
                    $("#stage24_en").hide();
                    $("#stage23_en").fadeIn(200);
                });

                // stage25
                $("#stage25_yes_en").click(function() {
                    $("#stage25_en").hide();
                    $("#stage26_en").fadeIn(200);
                });

                $("#stage25_no_en").click(function() {
                    $("#stage25_en").hide();
                    $("#stage13_en").fadeIn(200);
                });

                // stage26
                $("#stage26_yes_en").click(function() {
                    $("#stage26_en").hide();
                    $("#stage27_en").fadeIn(200);
                });

                $("#stage26_no_en").click(function() {
                    $("#stage26_en").hide();
                    $("#stage21_en").fadeIn(200);
                });

                // stage27
                $("#stage27_yes_en").click(function() {
                    $("#stage27_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/17");       
                });

                $("#stage27_no_en").click(function() {
                    $("#stage27_en").hide();
                    window.location.replace("{{ .Site.BaseURL}}/results/16");
                });

            });
        </script>

</html>