<social-media>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script>
    window.kakaoAsyncInit = function () {
      Kakao.Story.createShareButton({
        container: '#kakaostory-share-button'
      });
    };
  
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//developers.kakao.com/sdk/js/kakao.story.min.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'kakao-js-sdk'));
  </script>


        <div id="kakaostory-share-button scl-media" data-url="{{ .Get "src"}}"></div>

        <div class="fb-share-button scl-media" 
        data-href="{{ .Get "src"}}" 
        data-layout="button">
        </div>
        <a href="https://twitter.com/intent/tweet?button_hashtag=movehumanity&ref_src=twsrc%5Etfw" class="twitter-hashtag-button scl-media" data-show-count="false">Tweet #movehumanity</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


</social-media>